<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for day11" Description="Code analysis rules for day11.vcxproj." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26493" Action="None" />
  </Rules>
</RuleSet>